/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */

  .display{
    text-align: center;
    margin: auto;
    margin-top: 70px;
  }
.display p{
  margin-top: 20px;
}
.display button{
  margin-top: 16px;
}
.redirectToLogin{
  margin-top: 16px;
}