
/* table {
    width: 100%;
  } */
 
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .edit{
    border: none;
    color: blue;
    margin:auto;
  }
  .delete{
    border: none;
    color: red;
  }

  td, th {
    width: 25%;
  }