<div class="main">
    <h1>Student Login</h1>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error *ngIf="reactiveForm.controls.email?.errors && reactiveForm.controls.email?.touched">
                        Please enter a valid Email Address
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput placeholder="Password">
                    <mat-error
                        *ngIf="reactiveForm.controls.password?.errors && reactiveForm.controls.password?.touched">
                        Please enter a valid Password
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" >
            <div fxFlexOffset="13" fxFlex="70">
                <a routerLink="/forgot-password">Forgot Password ?</a>
            </div>
        </div>

        <div fxLayout="row" class="google">
            <div fxFlexOffset="10" fxFlex="70">
                <button color="primary" mat-raised-button style="width: 200px;">Login</button>
            </div>
        </div>

        <div fxLayout="row" class="google">
            <div fxFlexOffset="10" fxFlex="70">
                <button mat-raised-button appGoogleSignin (click)="authService.googleAuth()">
                    <div> 
                        <img src="../../../assets/images/google.png" width="16" />
                        Login with Google
                    </div>
                </button>
            </div>
        </div>

        <div fxLayout="row" class="google1">
            <div fxFlexOffsest="10" fxFlex="91">
                <span>Need an account ? <a routerLink="/sign-up"> Signup</a></span>
            </div>
        </div>
    </form>
</div>