<!-- <div class="container">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div class="main">
            <span class="p-float-label">
                <input id="float-input" type="email" pInputText formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <label for="float-input">Email</label>
                <span *ngIf="(!f.email.valid && f.email.touched) ||f.email.errors?.email" style="color: red;">Email is
                    required</span>
            </span>
            <br>
            <span class="p-float-label">
                <input id="float-input" type="password" pInputText formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <label for="float-input">Password</label>
                <span *ngIf="(!f.password.valid && f.password.touched) || f.password.errors?.pattern"
                    style="color: red;">Password is
                    required</span>
            </span>
            <br>
            <br>
            <button type="submit" class="btn">Login</button>
            <br>
            <br>
            <a routerLink="/forgot-password">Forgot Password ?</a>
            <br>
            <h5 style="text-align: center;">-or-</h5>
            <button type="button" class="btn" (click)="authService.googleAuth()"><img src="../../../assets/images/google.png" width="20px" height="20px ;">Sign in with google</button>
            <br>
            <br>
            <span>Need an account ? <a routerLink="/sign-up"> Signup</a></span>
        </div>
    </form>
</div> -->
<div class="main">
    <h1>Student Login</h1>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error *ngIf="reactiveForm.controls.email?.errors && reactiveForm.controls.email?.touched">
                        Please enter a valid Email Address
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput placeholder="Password">
                    <mat-error
                        *ngIf="reactiveForm.controls.password?.errors && reactiveForm.controls.password?.touched">
                        Please enter a valid Password
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <a routerLink="/forgot-password">Forgot Password ?</a>&nbsp;
                <button color="primary" mat-raised-button>Login</button>
            </div>
            <!-- <div fxFlexOffset="10" fxFlex="10" >
            </div> -->
        </div>

        <!-- <div fxLayout="row">
           
        </div> -->

        <div fxLayout="row" class="google">
            <div fxFlexOffset="10" fxFlex="70">
                <button mat-raised-button appGoogleSignin (click)="authService.googleAuth()">
                    <img src="../../../assets/images/google.png" width="20" />Login with Google
                </button>
            </div>
        </div>

        <div fxLayout="row" class="google1">
            <div fxFlexOffsest="10" fxFlex="91">
                <span>Need an account ? <a routerLink="/sign-up"> Signup</a></span>
            </div>
        </div>
    </form>
</div>