<div class="main">
  <h1>Student Registration</h1>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row">
      <div fxFlexOffset="10" fxFlex="70">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input formControlName="displayName" matInput placeholder="Name">
          <mat-error *ngIf="reactiveForm.controls.displayName?.errors && reactiveForm.controls.displayName?.touched">
            Please enter a valid Name
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlexOffset="10" fxFlex="70">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Email">
          <mat-error *ngIf="reactiveForm.controls.email?.errors && reactiveForm.controls.email?.touched">
            Please enter a valid Email Address
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlexOffset="10" fxFlex="70">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput placeholder="Password">
          <mat-error *ngIf="reactiveForm.controls.password?.errors && reactiveForm.controls.password?.touched">
            Please enter a valid Password
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlexOffset="10" fxFlex="70">
        <mat-form-field class="example-full-width">
          <mat-label>Mobile</mat-label>
          <input formControlName="phoneNumber" matInput placeholder="PhoneNumber">
          <mat-error *ngIf="reactiveForm.controls.phoneNumber?.errors && reactiveForm.controls.phoneNumber?.touched">
            Please enter a valid Phone Number
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlexOffset="10" fxFlex="70">
        <div fxFlexOffset="5" fxFlex="80" fxLayoutAlign="center">
          <button color="primary" mat-raised-button>Add</button>
        </div>
      </div>
    </div>

    <div fxLayout="row" class="google">
      <div fxFlexOffset="10" fxFlex="70">
        <button mat-raised-button appGoogleSignin (click)="authService.googleAuth()">
          <img src="../../../assets/images/google.png" width="20" /> Continue with Google
        </button>
      </div>
    </div>

    <div fxLayout="row" class="google">
      <div fxFlexOffsest="10" fxFlex="91">
        <span>Need an account ? <a routerLink="/sign-in"> Signin</a></span>
      </div>
    </div>

  </form>
</div>