.displayTable{
  text-align: center;
  margin-top: 70px;
}
.displayTable input{
    margin-top: 25px;
    width: 250px;
}
.displayTable p{
    margin-top: 30px;
}
.btn{
  border: 1px solid black;
}
.log{
    margin-top: 20px;
}