<div class="main">
  <mat-card class="example-card">
    <mat-card-header *ngIf="authService.userData as user ">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{(user.displayName) ? user.displayName : 'User'}}</mat-card-title>
      <mat-card-subtitle>{{user.uid}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/a5e028cb7a4b4b7d7c3c07ae315b60f5.jpg" width="8px" height="250px"  alt="Photo of a Shiba Inu">

  </mat-card>
</div>
 
