/* .div {
    background-color: rgb(89, 79, 183);
    height: 80px;
}

.div img {
    margin-top: 20px;
    margin-left: 20px;
}

.h3 {
    position: absolute;
    top: 4px;
    left: 80px;
    color: white;
}

.icons {
    color: black;
}

.secondDiv {
    margin-top: 25px;
    font-size: 25px;

}

.icon {
    font-size: large;
    color: palevioletred;
}

.icontag a {
    color: black;
}

.data {
    text-align: center;
} */



.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }